@import url("//fonts.googleapis.com/css?family=Roboto:300,400,500");

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.panel .panel-image {
  height: 400px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.panel img {
  width: 100%;
}